.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media screen and (max-width:570px) {
    .country-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    } 
}

@media screen and (min-width:571px) and (max-width:800px) {
    .country-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    } 
}

.visitedCountriesli{
    font-size: 1.5rem;
    color: rgb(15, 192, 18);
    margin: 2rem;
}

.visitedFlags img{
    width: 100px;
    height: 60px;
    margin: 4px;
}