.country{
    width: fit-content;
    /* height: 700px; */
    border: 2px solid rgb(127, 150, 169);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    margin: 0 auto;
}

.visited{
    background-color: rgb(109, 126, 186);
    color: black;
}

.markVisitedButton{
    padding: 1.5rem;
    margin: 2rem;
}